#root {
    width: 300px;
    background-color: silver;
    padding: 10px;
}

.app {
    width: 100%;
    margin: auto;
}

#display {
    margin: auto;
    background-color: white;
    border: 2px solid rgb(134, 134, 134);
    height: 60px;
    text-align: end;
    font-size: 25px;
    padding: 5px;
}

#keypad {
    width: 100%;
    
    & > div {
        width: 75%;
    }

    .column {
        width: 25%;
        
        button {
            margin-top: 5px;
        }
    }
}